*.tiff
*.TIF
*.jp2
Test_files/
__pycache__/
geckodriver.log
crawlers/geckodriver.log
Images/
.vscode
.vscode/
crawlers/__pycache__
index_calculator/__pycache__
*.odp
Presentation
tests/data
*.log
*/__pycache__/
.*
tests/bla.txt
.idea